.dialectTableWrapper {
  display: flex;
  flex-direction: column;
}

.dialectTableWrapper table {
  white-space: nowrap;
}

.dialectSelector {
  appearance: none;
  margin-left: auto;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  padding: 8px;

  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border: 1px white solid;
}
