@use "../css/variables" as *;

.users {
  background-color: $brand-primary-dark;
  display: flex;
  align-items: center;
  padding: fluid($min-screen-size, $container-max-width, 32px, 64px) 0;
  width: 100%;
  counter-reset: headlines 0;
}

.users h2 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: fluid($min-screen-size, $container-max-width, 32px, 64px);
}

.userRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 32px;
}

.userRow img {
  max-height: fluid($min-screen-size, $container-max-width, 24px, 48px);
  filter: brightness(0) invert(1);
  opacity: 0.8;
  max-height: 75px;
}

.slide {
  padding: 0 20px;
}

.testimonialWrapper {
  background: white;
  width: 100%;
  display: flex;
  border-radius: var(--ifm-global-radius);
  padding: 20px;
  flex-direction: column;
  position: relative;
  text-align: center;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
    transform: rotate(45deg);
  }
}

html[data-theme="dark"] .testimonialWrapper {
  background: var(--ifm-color-primary-dark);

  &::before {
    background: var(--ifm-color-primary-dark);
  }
}

.testimonialText {
  font-style: italic;
}

.userName {
  margin-left: 0.5rem;
  opacity: 0.5;

  &::before {
    content: "–";
    margin-right: 0.5rem;
  }
}
